.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 38px;
  margin-bottom: 16px;
}

.active {
  color: var(--Black, #000);
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--Black, #000);
}

.link {
  color: var(--Black, #000);
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--White, #fff);
}
