 .container {
  min-width: 393px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
} 
.title {
  margin-top: 48px;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 16px;
}
@media only screen and (max-width: 393px) {
  .container {
    min-width: 100%;
  }

}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .title {
    font-size: 48px;
    line-height: 110%;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
  .title {
    font-size: 48px;
    line-height: 110%;
    margin-bottom: 40px;
  }
}

