.recipeImage {
  max-width: 622px;
  height: auto;
}
.recipeImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32 px;
  width: 100%;
  background-color: #2b2d30;
  border-radius: 8px;
  order: 2;
}
/* Стилі для Tablet */
@media only screen and (min-width: 768px) {
  .recipeImage {
    min-width: 622px;
    height: auto;
  }
}
/* Cтилі для мобільного */
@media only screen and (max-width: 767px) {
  .recipeImage {
    display: block;
    border-radius: 8px;
    width: 100%;
    height: auto;
  }
  .recipeImageContainer {
    background: none;
    padding: 0 16px 0 16px;
    order: 1;
    max-width: 767px;
  }
}
