@media only screen and (min-width: 1200px) {
  .recipeImage {
    min-width: 627px;
    height: auto;
  }
  .recipeImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    width: 100%;
    background-color: #2b2d30;
    border-radius: 8px;
    order: 2;
  }
}
/* Стилі для Tablet */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .recipeImage {
    width: 100%;
    height: auto;
    order: 2;
    margin-bottom: 32px;
  }
  .recipeImageContainer {
    margin-bottom: 32px;
    background: none;
    width: 100%;
    order: 2;
  }
}
/* Cтилі для мобільного */
@media only screen and (max-width: 767px) {
  .recipeImage {
    display: block;
    border-radius: 8px;
    min-width: 361px;
    width: 100%;
    height: auto;
  }
  .recipeImageContainer {
    background: none;
    order: 1;
    max-width: 767px;
    margin-bottom: 32px;
  }
  .recipeDetails {
    flex-direction: column;
    padding: 0 16px;
  }

  .infoContainer {
    order: 4;
    flex-direction: column;
  }

  .generalButtonWrap {
    order: 3;
  }
}
