.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: var(--black);
  opacity: 0.6;
}
.wrap {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background: var(--light-beige);
  border-radius: 32px;
  padding: 56px 24px 32px 24px;
  width: 362px;
  /* height: 316px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  z-index: 1111111;
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  /* right: 32px; */
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: var(--black);
}

@media only screen and (min-width: 768px) {
  .wrap {
    width: 420px;
    padding: 56px 32px 32px;
    /* height: 236px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    z-index: 1111111;
  }
  .closeButton {
    right: 32px;
  }
}
