/* Стилі для мобільної версії */
.card {
  width: 361px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  background: var(--Light-beige, #faf3e0);
  padding: 12px;
  border-radius: 16px;
}

.cardContent {
  flex-grow: 1;
  flex-direction: column;
}

.image {
  border-radius: 8px;
}

.wrapper {
  margin-bottom: 16px;
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

.title {
  flex: 1 0 0;
  color: var(--Black, #000);
  font-size: 24px;
  font-weight: 700;
}
.timeWrapper {
  display: flex;
  padding: 2px 8px 2px var(--pl-1, 4px);
  justify-content: center;
  align-items: center;
  gap: var(--gap-1, 4px);
  border-radius: var(--Interactive-border-radius---radius-i-sm, 8px);
  background: var(--White, #fff);
}
.desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
  overflow: hidden;
  color: var(--Black, #000);
  text-overflow: ellipsis;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
  margin-bottom: 8px;
}
.cals {
  align-self: stretch;
  color: var(--Black, #000);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
}

.btnWrap {
  display: flex;
  gap: 8px;
  max-height: 40px;
  width: 100%;
  /* margin-top: auto; */
}
.btnWrap button:first-child {
  flex-grow: 1;
  height: 100%;
}
.btn {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: var(--gap-2, 8px);
  align-self: stretch;
  border-radius: var(--Interactive-border-radius---radius-i-sm, 8px);
  border: 1px solid var(--Black, #000);
  width: 337px;
  height: 36px;
  margin: 0 auto;
  background: #faf3e0;

  color: var(--Black, #000);

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btn:hover {
  border: 1px solid var(--Light-gray, #d9d9d9);
  background: var(--Light-gray, #d9d9d9);
}
.btn:active {
  border: 1px solid var(--Light-gray, #d9d9d9);
  background: var(--Light-gray, #d9d9d9);
  box-shadow: 0 0 0 2px #fff, 0 0 0 6px rgba(78, 70, 180, 0.12);
}

.icon {
  fill: var(--White, #fff);
  stroke-width: 0.5px;
  stroke: var(--Black, #000);
  width: 24px;
  height: 24px;
}

/* Стилі для Tablet */

@media only screen and (min-width: 768px) {
  .card {
    flex-wrap: nowrap;
    width: 339px;
  }
  .btn {
    width: 299px;
  }
}

@media only screen and (min-width: 1440px) {
  .card {
    min-height: 431px;
    width: 288px;
  }
  .image {
    width: 264px;
  }
  .btn {
    width: 264px;
  }
}
