.wrap {
  color: black;
}

.title {
  align-self: stretch;
  color: var(--Black, #000);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
