.container {
  margin: 0 auto;
}

.scrollBtn {
  position: fixed;
  background: rgba(0, 0, 0, 0.4); /* напівпрозорий */
  color: white;
  border: none;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  z-index: 999;
  transition: background 0.2s;
}

.scrollBtn:hover {
  background: rgba(0, 0, 0, 0.7);
}

@media only screen and (min-width: 393px) {
  .container {
    padding: 16px;
    max-width: 393px;
  }
}

.title {
  /* display: flex
; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
  /* gap: 16px; */
  /* align-self: stretch; */
  /* color: var(--Black, #000); */
  /* font-family: Montserrat; */
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  /* line-height: normal; */
  margin-bottom: 16px;
}

.list {
  display: grid;
  gap: 24px; /* відстань між картками */
  grid-template-columns: repeat(1, 361px); /* мобілка — 1 картка */
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 768px;
  }

  .list {
    grid-template-columns: repeat(2, 339px); /* планшет — 2 картки */
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    padding: 0 107px;
    max-width: 1440px;
  }

  .list {
    grid-template-columns: repeat(4, 288px); /* десктоп — 4 картки */
  }
}
