.recipesList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}

.item {
  padding: 12px;
  border-radius: 16px;
  background: var(--Light-beige, #faf3e0);
}

@media only screen and (min-width: 768px) {
  .recipesList {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .item {
    width: calc((100% - 48px) / 2);
  }
}

@media only screen and (min-width: 1440px) {
  .recipesList {
    flex-wrap: wrap;
    row-gap: 28px;
    column-gap: 24px;
    flex-direction: row;
  }

  .item {
    width: calc((100% - 96px) / 4);
  }
}
