.container {
  margin: 0 auto;
  max-width: 393px;
}

.title {
  color: var(--Black, #000);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 16px;
  text-align: start;
}
.linkBtn {
  border: 1px solid var(--black);
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  height: 54px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  color: var(--black);
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
