.addRecipeContainer {
  display: block;
}

.photoboxWrapper {
  margin-bottom: 24px;
}

.section {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 40px;
}

.label {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 4px;
}

.photobox {
  width: 361px;
  border-radius: 16px;
  height: 383px;
  background: #9f9f9f;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: -1;
}

.labels {
  font-weight: 400;
  font-size: 18px;
}

.text {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 12px;
  width: 361px;
  height: 46px;
  max-height: 48px;
  background: #fff;
  font-weight: 400;
  font-size: 18px;
  color: #595d62;
}

.text:focus {
  font-size: 16px;
  line-height: 155%;
  color: #000;
}

.textarea {
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 12px;
  width: 361px;
  height: 144px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #595d62;
}

.textarea:focus {
  font-size: 16px;
  line-height: 155%;
  color: #000;
}

.input {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 12px;
  width: 361px;
  height: 46px;
  max-height: 48px;
  background: #fff;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 18px;
  color: #595d62;
}

.input:focus {
  font-size: 16px;
  line-height: 155%;
  color: #000;
}

.blocks {
  z-index: -1;
}

.input1 {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 12px;
  width: 361px;
  height: 46px;
  max-height: 48px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 18px;
  color: #595d62;
  z-index: -1;
}

.input1:focus {
  font-size: 16px;
  line-height: 155%;
  color: #000;
}

.input2 {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 12px;
  width: 361px;
  height: 46px;
  max-height: 48px;
  background: #fff;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 18px;
  color: #595d62;
  z-index: -1;
}

.input2:focus {
  font-size: 16px;
  line-height: 155%;
  color: #000;
}

.twoColumns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.inputs {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 12px;
  width: 172px;
  height: 46px;
  max-height: 48px;
  font-weight: 400;
  font-size: 18px;
  color: #595d62;
}

.inputs:focus {
  font-size: 16px;
  line-height: 155%;
  color: #000;
}

.textareas {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 12px;
  width: 361px;
  height: 144px;
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  color: #9f9f9f;
}

.textareas:focus {
  font-size: 16px;
  line-height: 155%;
  color: #000;
  font-family: "Montserrat", sans-serif;
}

.blocks {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr;
}

.icon {
  width: 52px;
  height: 52px;
  pointer-events: none;
  stroke-width: 2.56px;
}

.icons {
  width: 16px;
  height: 16px;
  stroke-width: 1px;
}

.imagePreview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inputPhoto {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.errorField {
  border: 1.5px solid var(--red);
  color: var(--red);
}

.errorField::placeholder {
  color: var(--red);
}

.dropDown {
  border-bottom: 1px solid #c5c5c5;
  padding: 16px 0px;
}

.dropDownColumns {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-weight: 600;
  font-size: 16px;
}

.column {
  display: grid;
  grid-template-columns: 1fr 180px;
  gap: 12px;
  align-items: center;
}

.columnItem {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  border-bottom: 1px solid #c5c5c5;
  padding: 16px 0px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.column1 .column2 {
  flex: 1;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.mobileOnly {
  display: block;
  flex: 1;
  text-align: center;
  font-weight: bold;
  display: grid;
  grid-template-columns: 0fr 1fr;
  align-items: center;
  border-bottom: 1px solid #c5c5c5;
  padding: 16px 0px;
}

.tabletOnly {
  display: none;
}

.button {
  border-radius: 8px;
  padding: 12px 16px;
  width: 361px;
  height: 44px;
  background: #9b6c43;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;
  display: block;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 48px;
}

.buttonNew {
  border-radius: 8px;
  padding: 12px 16px;
  width: 361px;
  height: 44px;
  background: #9b6c43;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.button:hover,
.button:focus,
.buttonNew:hover,
.buttonNew:focus {
  background: #6d554b;
}

.button:active,
.buttonNew:active {
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
  background: #9b6c43;
}

.buttonDrop {
  stroke-width: 1px;
  stroke: #000;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  margin-left: 3px;
}

@media only screen and (min-width: 768px) {
  .label {
    font-size: 32px;
  }

  .photobox {
    width: 704px;
  }

  .section {
    font-size: 32px;
  }

  .text {
    width: 704px;
  }

  .textarea {
    width: 704px;
  }

  .input {
    width: 704px;
  }

  .inputs {
    width: 340px;
  }

  .blocks {
    grid-template-columns: 1fr 1fr;
    align-items: start;
    position: relative;
    gap: 24px;
  }

  .amountbox {
    flex-direction: column;
    display: contents;
  }

  .input1 {
    width: 431px;
    height: 48px;
  }

  .input2 {
    width: 249px;
    height: 46px;
  }

  .buttonNew {
    padding: 8px;
    width: 249px;
    height: 36px;
    grid-column: 2;
    justify-self: start;
  }

  .dropDownColumns {
    margin-bottom: 10px;
  }

  .tabletOnly {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 600;
    font-size: 16px;
    margin-top: 16px;
    border-bottom: 1px solid #c5c5c5;
    padding: 8px 0px;
    width: 100%;
    max-width: 431px;
    grid-column: 1 / -1;
  }

  .mobileOnly {
    display: none;
  }

  .columnItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    background: #f9f9f9;
    margin-bottom: 8px;
  }

  .button {
    width: 704px;
  }

  .textareas {
    width: 704px;
  }
}

@media only screen and (min-width: 1440px) {
  .addRecipeContainer {
    display: flex;
    align-items: flex-start;
    gap: 24px;
  }

  .photoboxWrapper {
    width: 391px;
    margin-left: auto;
    margin-top: 0;
    order: 2;
    margin-bottom: 0;
  }

  .formContent {
    flex: 1;
    order: 1;
  }

  .photobox {
    border-radius: 16px;
    width: 391px;
    height: 374px;
  }

  .section {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .label {
    font-size: 32px;
    margin-bottom: 4px;
  }

  .labels {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
  }

  .text {
    width: 809px;
  }

  .textarea {
    width: 809px;
  }

  .input {
    width: 809px;
    margin-bottom: 0;
  }

  .inputs {
    width: 392px;
  }

  .input1 {
    width: 497px;
  }

  .input2 {
    width: 288px;
  }

  .textareas {
    width: 809px;
  }

  .button {
    width: 809px;
  }

  .buttonNew {
    border-radius: 8px;
    padding: 4px 8px;
    font-size: 12px;
    width: 247px;

  }

  .error {
    font-size: 15px;
  }

  .tabletOnly {
    border-bottom: 1px solid #c5c5c5;
    width: 332px;
  }

  .dropDown {
    border-bottom: 1px solid #c5c5c5;
    width: 332px;
  }
}