.form {
color: black;
}
.fieldBlock{
color: black;
}
.label {
color: black;
}
.input {
color: black;
}
.imagePreview {
color: black;
}
.error {
color: black;
}
.textarea {
color: black;
}
.button {
color: black;
}
.ingredientItem {
color: black;
}
.deleteButton {
color: black;
}
.submitButton {
color: black;
}