.wrap{
    background-color: var(--darck-brown);
    width: 100%;
    padding: 24px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer p{
    color: var(--white);
    font-weight: 400;
font-size: 12px;
}

.footerNav{

    display: flex;
    gap: 32px;
}

.footerNav * {
        color: var(--white);

}

.active{
    text-decoration: underline;
}
@media (max-width: 768px) {
    .footer{
        min-height: fit-content;
        flex-direction: column;
        gap: 32px;
    }
}

@media (max-width: 393px) {
    .footerNav {
        flex-direction: column;
        gap: 40px;
    }
}