.wrap {
  background-color: var(--darck-brown);
  width: 100%;
  padding: 24px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer p {
  color: var(--white);
  font-weight: 400;
  font-size: 12px;
}

.footerNav {
  display: flex;
  gap: 32px;
}

.footerNav * {
  color: var(--white);
}

/* .active{
    text-decoration: underline;
} */

.modalText {
  text-align: center;
}
.linkWrap {
  display: flex;
  justify-content: center;
  gap: 27px;
  width: 100%;
}
.login {
  cursor: pointer;
  text-align: center;
  border: 1px solid var(--black);
  border-radius: 8px;
  padding: 8px;
  font-weight: 600;
  font-size: 16px;
  color: var(--black);
  flex-grow: 1;
}

.register {
  cursor: pointer;
  text-align: center;
  background: var(--light-brown);
  border-radius: 8px;
  padding: 8px;
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  flex-grow: 1;
}
@media (max-width: 768px) {
  .footer {
    min-height: fit-content;
    flex-direction: column;
    gap: 32px;
  }
}

@media (max-width: 393px) {
  .footerNav {
    flex-direction: column;
    gap: 40px;
  }
}
