.saveButton {
  background: #9b6c43;
  border-radius: 8px;
  border: none;
  padding: 16px;
  display: flex;
  gap: 16px;
  padding: 17px, auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  margin-top: 24px;
  font-size: 18px;
}
.icon {
  fill: none;
  stroke: #fff;
  border: none;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.active {
  fill: #fff;
}
.saveButton:hover:focus {
  background: #6d554b;
  border: none;
}
.saveButton:active {
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
  background: #9b6c43;
}
.saveButton:disabled {
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
  background: #9b6c43;
  opacity: 0.3;
  cursor: not-allowed;
}
.saveButton:focus-visible {
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
  background: #9b6c43;
  outline: none;
}
/* Стилі для мобільного */
@media only screen and (max-width: 767px) {
  .saveButton {
    font-size: 16px;
  }
}
/* Стилі для планшету */
@media only screen and (min-width: 768px) {
  .saveButton {
    max-width: 249px;
    height: 56px;
    margin: 0;
  }
}
