.DesctopWrap {
  display: flex;
  gap: 24px;
  order: 2;
}
.errorMessWrap{
  background: var(--light-beige);
  margin: 48px auto;
  border-radius: 16px;
  padding: 40px 24px;
  max-width: 361px;
  /* height: 270px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.errorMessWrap p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: var(--black);
}
.messLink{
    border: 1px solid var(--black);
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  height: 54px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  color: var(--black);
  cursor: pointer;
}
.messLink:hover,
.messLink:focus {
  border: 1px solid #6d554b !important;
  color: #6d554b;
}
@media only screen and (min-width: 1200px) {
  .DesctopWrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .recipeDetails {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
    margin-top: 48px;
  }
}
.recipeDetails {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
}
.textInfoWrap {
}
.generalButtonWrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
  order: 2;
  flex: 0 0 393px;
}
.infoContainer {
  display: flex;
  gap: 24px;
  margin: 24px 0 48px 0;
  order: 1;
  flex: 1;
}

/* Стилі для Tablet */

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .recipeImg {
    width: 100%;
    height: auto;
  }

  .infoContainer {
    order: 4;
  }
  .generalButtonWrap {
    display: flex;
    flex-direction: row;
    gap: 24px;
    order: 3;
    flex: 1;
  }
  .DesctopWrap {
    flex-direction: column;
  }
}
/* Стилі для мобільного */

@media only screen and (max-width: 767px) {
  .DesctopWrap {
    flex-direction: column;
  }
  .recipeImg {
    width: 100%;
    height: auto;
  }
  .infoContainer {
    flex-direction: column;
  }
  .recipeDetails {
    flex-direction: column;
    padding: 0 16px 0 16px;
  }
  .generalButtonWrap {
    order: 3;
    flex: 0;
  }
  .infoContainer {
    order: 4;
  }
}
