:root{
  --black: #000;
  --white: #fff;
  --background: #fbfcf8;
  --darck-brown: #3d2218;
  --light-brown: #9b6c43;
  --light-beige: #faf3e0;
  --red: #c80000;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

ol, ul{
  list-style: none;
}

.container{
background-color: var(--background);
margin: 0 auto;
}

@media only screen and (min-width: 393px) {
  .container {
    max-width: 361px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 704px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1225px;
  }
}