:root{
    --font-family: "Montserrat", sans-serif;


  --black: #000;
  --white: #fff;
  --background: #fbfcf8;
  --darck-brown: #3d2218;
  --light-brown: #9b6c43;
  --light-beige: #faf3e0;
  --red: #c80000;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--white);
  /* border: 1px solid red; */
}

a{
  text-decoration: none;
}

ol, ul{
  list-style: none;
}

body{
  font-family: var(--font-family);
 background-color: var(--background); 
}
.container{
margin: 0 auto;
}


@media only screen and (min-width: 393px) {
  .container {
    padding: 16px;
    max-width: 393px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 768px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    padding: 0 107px;
    max-width: 1440px;
  }
}