.darkButtonSvg {
  background: var(--light-brown);
  color: var(--white);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.darkButtonSvg:hover {
  background: var(--darck-brown);
}

.darkButtonSvg:focus {
  background: var(--light-brown);
  box-shadow: 0 4px 10px #0000004d;
  outline: none;
}

.darkButtonSvg:disabled {
  background: var(--light-brown);
  box-shadow: 0 4px 10px #0000004d;
  cursor: not-allowed;
  opacity: 0.3;
}

.lightButtonSvg {
  border: 1px solid var(--black);
  color: var(--black);
  background: transparent;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.lightButtonSvg:hover {
  background: var(--darck-brown);
  border-color: var(--darck-brown);
  color: var(--white);
}

.lightButtonSvg:focus {
  background: var(--light-brown);
  color: var(--white);
  border-color: var(--darck-brown);
  box-shadow: 0 4px 10px #0000004d;
  outline: none;
}

.lightButtonSvg:disabled {
  background: var(--light-brown);
  color: var(--white);
  border-color: var(--darck-brown);
  box-shadow: 0 4px 10px #0000004d;
  cursor: not-allowed;
  opacity: 0.3;
}

.darkSvg {
  stroke: var(--black);
  stroke-width: 1px;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.darkSvg:hover,
.darkSvg:focus {
  stroke: var(--white);
}

.lightSvg {
  stroke-width: 1px;
  stroke: var(--white);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.lightSvg:hover,
.lightSvg:focus {
  stroke: var(--black);
}
